<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
<display-name>Catalog</display-name>
	<description>
		Catalogul virtual al studentului
	</description>
<servlet>
	<servlet-name>AdminServlet</servlet-name>
	<servlet-class>AdminServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AdminServlet</servlet-name>
	<url-pattern>/administrator.jsp</url-pattern>
</servlet-mapping>
<welcome-file-list>
	<welcome-file>profesoriAlocati.jsp</welcome-file>
    <welcome-file>administrator</welcome-file>
    <welcome-file>administrator.jsp</welcome-file>
</welcome-file-list>
</web-app>